a {
   color: dimgray;
}
body {
   font-family: trebuchet; Sans-Serif; line-height: 24px; text-align: center; background-color: #4C4751;
}
h1 {
    font-family: trebuchet; margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 42px; font-weight: bold; letter-spacing: -2px; border-bottom: 1px solid #999;
}
h2 {
   font-family: trebuchet; font-size: 30px; margin: 0 0 16px 0; position: relative; 
}
p {
   margin: 0 0 16px 0;
}
a { font: 16px Helvetica, Sans-Serif; color: #999; text-decoration: none; border-bottom: 1px dotted #999; 
}
#objective, #education, #hobbies
	{
	background-color: #DBDADA;
	}
#achievement, #skills 
	{
	background-color: #FEDCDC; 
	}
#page-wrap 
	{ 
	width: 800px; margin: 40px auto 60px;
	}
