a {
   color: dimgray;
}
body {
   font: 16px Helvetica, Sans-Serif; line-height: 24px; text-align: center; background-color: #FEDDDD;
}
h1 {
   font: 16px Helvetica, Sans-Serif; margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 42px; font-weight: bold; letter-spacing: -2px; border-bottom: 1px solid #999;
}
h2 {
   font: 16px Helvetica, Sans-Serif; font-size: 30px; margin: 0 0 6px 0; position: relative; 
}
p {
   font: 16px Helvetica, Sans-Serif; margin: 0 0 16px 0;
}
a { font: 16px Helvetica, Sans-Serif; color: #999; text-decoration: none; border-bottom: 1px dotted #999; 
}
#objective, #education, #hobbies
	{
	background-color: #BDBDBD;
	}
#achievements, #skills 
	{
	background-color: #FEDDDD; 
	}
